#### Write a function that calculates the dot product manually AND a function that calculates the cross product manually. Both should accept two vectors and perform that calculation. Be sure to use try except and error handling for basic issues that might occur.

In [9]:
#function that calculate the dot product manualy
a = [2,6]
b = [3,7]
c = []

def dot_product(v1, v2):
    for n1, n2 in zip(a, b):
        c.append(n1 * n2)
    
    for i in range(len(c)):
        for j in range(i+1, len(c)):
            output = c[i]+c[j]
    return output

In [10]:
dot_product(a, b)

48

In [18]:
#function that calculate the dot product manualy

def dotfunction(a, b):
    total = 0
    for i,n in zip(a, b):
        dot = i*n
        total = total+dot
    return total
    
m = [2,6]
c = [3,7]
    
dotfunction(m,c)

48

In [23]:
#function that calculate the cross product manualy

def crossproduct(a,b,c,d):
    for i in [a,b], [c,d]:
        cross = a*d - b*c
    return cross
a=2
b=3
c=4
d=5
crossproduct(a,b,c,d)

-2

#### In a markdown section in your notebook, explain what one hot encoding is and why we use it. Then, manually calculate a one hot encoding for the Belize_Airbnb_listings.csv neighborhood_group column. Note: manually means don’t use scikitlearn or keras.

A one hot encoding allows the representation of categorical data to be more expressive. Many machine learning algorithms cannot work with categorical data directly. The categories must be converted into numbers. This is required for both input and output variables that are categorical.
One hot encoding is a technique which converts categorical variables to numerical in an interpretable format.

In [58]:
import pandas as pd
import numpy as np

belize_listings_path = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings_path)
belize_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203

In [57]:
neighbourhood_list = belize_df['neighbourhood_group'].unique()
neighbourhood_list

array(['Belize', 'Stann Creek', 'Toledo', 'Cayo', 'Corozal',
       'Orange Walk'], dtype=object)

In [41]:
neighbourhood_list = []
for neighbourhood in belize_df['neighbourhood_group']:
    if neighbourhood == 'Belize':
        a = [1,0,0,0,0,0]
    if neighbourhood == 'Stann Creek':
        a = [0,1,0,0,0,0]
    if neighbourhood == 'Toledo':
        a = [0,0,1,0,0,0]
    if neighbourhood == 'Cayo':
        a = [0,0,0,1,0,0]
    if neighbourhood == 'Corozal':
        a = [0,0,0,0,1,0]
    if neighbourhood == 'Orange Walk':
        a = [0,0,0,0,0,1]
        
neighbourhood_list.append(a)

In [42]:
#creating a dummy dataframe
dummies = pd.get_dummies(belize_df.neighbourhood_group)
dummies

      Belize  Cayo  Corozal  Orange Walk  Stann Creek  Toledo
0          1     0        0            0            0       0
1          1     0        0            0            0       0
2          1     0        0            0            0       0
3          0     0        0            0            1       0
4          1     0        0            0            0       0
...      ...   ...      ...          ...          ...     ...
2791       1     0        0            0            0       0
2792       0     0        1            0            0       0
2793       1     0        0            0            0       0
2794       1     0        0            0            0       0
2795       0     1        0            0            0       0

[2796 rows x 6 columns]

In [54]:
#concaneting main data frame to dummy data frame
merged = pd.concat([belize_df, dummies], axis = 'columns')
merged.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Belize,Cayo,Corozal,Orange Walk,Stann Creek,Toledo
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,...,2/23/2021,2.00,5,225,1,0,0,0,0,0
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,...,2/19/2021,2.46,5,164,1,0,0,0,0,0
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,...,3/14/2020,0.78,1,364,1,0,0,0,0,0
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,...,2/24/2020,0.29,3,331,0,0,0,0,1,0
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,...,3/18/2020,0.64,22,203,1,0,0,0,0,0

In [52]:
#drop columns
final = merged.drop(['host_name','neighbourhood_group', 'number_of_reviews', 'last_review', 'neighbourhood', 'reviews_per_month', 'calculated_host_listings_count', 'latitude', 'longitude'], axis = 'columns')
final

,id,name,host_id,room_type,price,minimum_nights,availability_365,Belize,Cayo,Corozal,Orange Walk,Stann Creek,Toledo
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Entire home/apt,141,3,225,1,0,0,0,0,0
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Entire home/apt,71,3,164,1,0,0,0,0,0
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Entire home/apt,191,2,364,1,0,0,0,0,0
3,110483,Michelo's fuchsia suite,567809,Hotel room,121,1,331,0,0,0,0,1,0
4,120115,Seaside Villas Second Floor Unit #4,604999,Entire home/apt,343,1,203,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2791,48283996,Magical Island,17994012,Entire home/apt,1054,3,347,1,0,0,0,0,0
2792,48287613,"The Luxury Suite - Corozal, Bz- 3Bdr/2bthr CASA1",375769845,Entire home/apt,401,3,302,0,0,1,0,0,0
2793,48296096,Lagoon front apartment w/shared pool - two mi...,76414486,Entire home/apt,252,1,364,1,0,0,0,0,0
2794,48296978,Beachfront Poolside Condo,15308338,Entire home/apt,242,3,364,1,0,0,0,0,0
2795,48332221,Standard Room - San Ignacio Resort Hotel,60399527,Private room,226,1,365,0,1,0,0,0,0